version: "2.1"
services:
    app:
        build: .
        container_name: app
        ports:
            - 80:80
        volumes:
            - ./LimeSurvey:/var/www/html/
        depends_on:
            - db
        networks:
            net: 
                ipv4_address: 10.5.0.5
    db:
        image: mysql:5.5.61
        container_name: db
        ports:
            - 3306
        networks:
            net: 
                ipv4_address: 10.5.0.6
        environment:
            MYSQL_ROOT_PASSWORD: root
        volumes:
            - ./data:/var/lib/mysql
networks:
    net:
        driver: bridge
        ipam:
          config:
            - subnet: 10.5.0.0/16
              gateway: 10.5.0.1
