
* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=largeText], select, textarea {
	width: 150%;
	height: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
	word-wrap: break-word;
}

input[type=login], textarea {
	width: 50%;
	height: 30px;
	padding: 0px 12px;
	border: 1px solid #4CAF50;
	border-radius: 4px;
	resize: vertical;
	
}

input[type=password], textarea {
	width: 50%;
	height: 30px;
	padding: 0px 12px;
	border: 1px solid #4CAF50;
	border-radius: 4px;
	resize: vertical;
}

input[type=text]:focus {
    border: 1px solid #555;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    //float: left;
}

button[type=button]:hover {
    background-color: #45a049;
}

button[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    //float: left;
}

button[type=login]:hover {
	background-color: #45a049;
}

button[type=login] {
	background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    //float: left;
	width: 500px;
}

.container {
	width: 100%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}

.fieldLabel {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.fieldEntry {
    float: center;
    width: 40%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

div{
	padding: 15px
}

.infoScreens {
	padding-left: 25%;
	padding-right: 25%;
}

a:hover {
	background-color: #45a049;
}

a {
	background-color: #4CAF50;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
	text-decoration: none;
    cursor: pointer;
    //float: right;
	width: 50px;
}

b:hover {
	background-color: #45a049;
}

b {
	background-color: #4CAF50;
    color: black;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
	text-decoration: none;
    cursor: pointer;
    //float: right;
	width: 50px;
}

.nav {
	margin-right:150px;
}

select {
	height:25%;
	width: 25%;
}

table, th, td {
	border: 1px solid black;
	width: 50%;
	border-collapse:collapse;
	padding:.5%
}

table {
	margin-top: 2%;
}